@font-face {
	font-family: "Gang of Three";
	src: url("go3v2.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

section, header, footer {
	padding: 25%;
}

/* Header styles */
header {
	position: relative;
	background-color: rgb(100, 98, 98);
	padding-top: 10px;
	padding-bottom: 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header::after {
	position: absolute;
	content: "";
	width: 50%;
	border-bottom: 1px rgb(241, 238, 238) solid;
	margin-top: 40px;
}

h1 > a {
	text-decoration: none;
	font-family: "Gang of Three";
	font-weight: normal;
	line-height: 1.2;
	color: white;
	font-size: 36px;
}

nav > a {
	margin-right: 8px;
	text-decoration: none;
	color: rgb(241, 238, 238);
	opacity: 0.9;
	transition: all .4s ease;
}

 nav > a:hover {
	opacity: 1;
	color: rgb(36, 33, 33);
}
 

 /* Intro section */
#intro {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: rgb(100, 98, 98);
 }

#intro > div {
	padding-left: 40%;
}

#intro > h2 {
	font-family: 'Kaushan Script', cursive;
	font-size: 35px;
	color: rgba(245, 175, 71, 0.8);
	margin: 5% 0;
}

#intro > h3 {
	color: rgb(241, 238, 238);
	font-size: 20px;

}

#intro > h4 {
	margin-top: 5%;
	color: rgb(36, 33, 33);
}


 /* About us */
 
 #about-us {
	 padding-top: 50px;
	 padding-bottom: 50px;
	 display: flex;
	 justify-content: space-between;
 }
 
 #about-us h2 {
	 color: rgba(245, 175, 71, 0.8);
 }

 .about-l {
	 width: 70%;
	 padding-top: 15%;
 }

 .about-l h2 {
	font-family: 'Kaushan Script', cursive;
	font-size: 35px;
	text-align: center;
 }

 .about-l > p {
	 color: rgb(36, 33, 33);
	 margin: 15px 0;
	 text-align: center;
 }
 
.about-r {
	margin-left: 25px;
}

 .contact {
	position: relative;
	bottom: 30%;
	background-color: rgb(20, 5, 44);
	padding: 10px;
 }

 .contact h2, .contact h3{
	margin: 8px 0;
 }

 .contact > h2 {
	font-size: 20px;
 }

 .contact > h3 {
	font-size: 16px;
}

.contact h3, .contact p {
	color: rgb(241, 238, 238);
}

.contact p {
	margin-top: 5px;
	font-size: 10px;
}
 
.grey-patch{
	height: 200px;
	background-color: rgb(45, 44, 58);
 }

.view-map {
	color: rgba(245, 175, 71, 0.8);
}


.contact a.reservation-ref {
	margin: 15px 30px;
}

.reservation-ref {
	text-decoration: none;
	cursor: pointer;
	display: block;
	font-size: 15px;
	text-align: center;
	padding: 8px 12px;
	border: 1px solid rgba(245, 175, 71, 0.8);
	color: rgb(241, 238, 238);
	opacity: 0.9;
	transition: all 0.2s linear;
}

.reservation-ref:hover {
	background-color: rgba(245, 175, 71, 0.8);
	opacity: 1;
	color: rgb(241, 238, 238);
}
 
/* Specialities */
 #specialties {
	 padding-top: 50px;
	 padding-bottom: 50px;
	 background-color: rgb(100, 98, 98);
}

#specialties > h2{
	font-family: 'Kaushan Script', cursive;
	font-size: 35px;
	color: rgb(241, 238, 238);
}

#specialties > p {
	margin: 30px 0;
	color: rgb(36, 33, 33);
}

#specialties > h2, #specialties > p {
	text-align: center;
}
 
 #specialties ul {
	display: flex;
	justify-content: space-between;
 }
 
 #specialties a{
	position: relative;
	display: block;
	margin-left: 20px;
	text-decoration: none;
	opacity: 1;
	overflow: hidden;
	transition: all .1s linear;
 }

 #specialties a:hover {
	 transform: translate(4px, -4px);
	 opacity: 1;
 }

 #specialties a > div {
	position: absolute;
	top: -100%;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgb(194, 99, 99);
	opacity: 0;
	transition: opacity 0.4s;
 }

 #specialties a > div > span {
	 /* Треба було анулювати властивості інших параграфів а цій секції */
	top: 50%;
	left: 50%;
	color: white;
	position: relative;
	display: inline-block;
	transform: translate(-50%, -50%);
	font-size: 20px;
	font-weight: bold;
 }


 #specialties a:hover div{
	opacity: 0.8;
	transform: translateY(100%);
	transition: transform 0.4s;
}

#specialties img {
	display: block;
	width: 100%;
	height: 160px;
 }

 #specialties ul p {
	margin-top: 0;
	background-color: white;
	padding: 15px 5px;
	color: rgb(194, 99, 99);
	font-size: 12px;
 }
 

 /* Menu */
 #menu {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: rgb(20, 5, 44);
	text-align: center;
}
 
#menu > h2 {
	font-family: 'Kaushan Script', cursive;
	font-size: 35px;
	color: rgba(245, 175, 71, 0.8);
}

#menu > p {
	margin: 30px 0;
	color: rgb(241, 238, 238);
}

#menu > button {
	border: none;
	margin: 30px auto;
}

 #menu table {
	border: 1px solid rgb(241, 238, 238);
	width: 100%;
 }

.course-type h3 {
	color: rgba(245, 175, 71, 0.8);
	font-size: 25px;
	margin: 30px 0;
}

.course-type h3::after, .course-type h3::before {
	content: "......";
}

.description > div{
	display: flex;
	padding: 20px;
	align-items: center;
	justify-content: space-between;
}

.description > div > div {
	text-align: left;
}

.description  h4, .description > div > div > p {
	color: rgb(241, 238, 238);
	margin: 5px 0;
}

.description h4 {
	font-size: 13px;
}

.description > div > div > p {
	font-size: 10px;
}

.price {
	color: rgba(245, 175, 71, 0.8);
	font-size: 25px;
}

.menu-ref {
	cursor: pointer;
	padding: 10px 25px;
	background-color: rgba(245, 175, 71, 0.8);
	color: rgb(36, 33, 33);
	transition: all .2s linear;
	opacity: 0.9;
}

.menu-ref:hover {
	opacity: 1;
	background-color: rgb(241, 238, 238);
}

/* Booking */
#booking {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: rgb(100, 98, 98);
	text-align: center;
}

#booking > h2 {
	font-family: 'Kaushan Script', cursive;
	font-size: 35px;
	color:rgb(241, 238, 238);
}

#booking > p {
	margin: 30px 0;
	color: rgb(36, 33, 33);
}

#booking-form > div {
	text-align: left;
	margin-bottom: 50px;
}

#booking-form > div > div {
	display: inline-block;
	margin-top: 10px;
	margin-right: 5px;
}

#booking-form p {
	margin-bottom: 10px;
	color: rgb(241, 238, 238);
	font-size: 18px;
}


#booking-form select {
	padding: 12px;
}


/* Footer */
footer {
	background-color: rgb(20, 5, 44);
	padding-top: 50px;
	padding-bottom: 50px;
}

footer > div {
	text-align: center;
}

footer > div > div {
	text-align: left;
	vertical-align: top;
	display: inline-block;
	width: 30%;
}

footer h3 {
	margin-bottom: 10px;
	color: rgb(241, 238, 238);
	font-size: 18px;
}

footer > div p {
	margin: 15px 0;
	color: rgb(241, 238, 238);
	font-size: 10px;
}

footer div > a{
	width: 60%;
}


footer > p{
	color: rgba(245, 175, 71, 1);
	margin-top: 30px;
	margin-left: 25px;
}

footer li {
	display: inline-block;
	width: 20%;
}
